body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #104a69;
}

header {
  background-color: rgb(44, 26, 70);
  color: rgb(9, 141, 143);
  padding: 15px;
  text-align: center;
}

a {
  color: rgb(230, 239, 241) text-decoration:whitesmoke;
}

.container {
  text-align: center;
  background-color: #104a69;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
 
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,td {
  background-color: #104a69;
  padding: 10px border: 1px solid #0b979e;
  text-align: center;
}

header img {
  width: 400px;
  display:block;
  margin:0 auto;
}
.container image{
  display: flex;
  justify-self: flex-end;
  gap: 10px
}
.container ul {
  list-style: none;
  padding-left: 0%;
}
